<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/main.css">

    <title>What's Cooking?</title>

    <script src="/static/js/script.js" defer></script>
</head>

<body class="bg-gray-100">
    <!-- header -->
    <header class="bg-blue-500 text-white py-4">
        <div class="container mx-auto px-4">
            <h1 class="text-3xl font-bold">What's Cooking?</h1>
            <p class="text-sm">An ML powered app by US</p>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container mx-auto px-4 py-8 h-screen">
        <h2 class="text-xl font-bold mb-4">Given a list of ingredients, what different recipes can I make?</h2>
        <p class="text-gray-600 mb-8">For example, say I want to use up some food in my apartment, what can I cook? My
            ML based model will look through over 500 recipes to find matches for you...</p>

        <form class="mb-8" action="/recipe">
            <label class="block mb-2 font-bold" for="ingredients">Enter ingredients you would like to cook with
                (separate ingredients with a comma)</label>
            <input type="text" id="ingredients" name="ingredients"
                class="w-full py-2 px-4 rounded-md border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
                placeholder="e.g., onion, chorizo, chicken thighs, paella rice, frozen peas, prawns">
            <button type="submit" class="bg-blue-500 text-white py-2 px-4 my-4 rounded-md">Give me recommendations!</button>
        </form>

    </div>

    <!-- Footer -->
    <footer class="bg-gray-300 text-gray-700 py-4">
        <div class="container mx-auto px-4">
            <p class="text-center">&copy; Try it out for yourself below!</p>
        </div>
    </footer>
</body>

</html>